@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,505,700,900&display=swap");

body {
  margin: 0;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.semi-bold {
  font-weight: 500;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(520px);
}

@media screen and (min-width: 576px) {
  .app-container {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(520px + 2rem);
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

a.nav-link {
  color: #6c757d;
  font-size: 0.9rem;
}

a.nav-link.active {
  font-weight: 500;
  color: black;
}

header hr {
  border: none;
  border-bottom: 2px solid #b7b7b7;
  margin-top: 0;
  margin-left: 0;
  /* max-width: 400px !important; */
}

@media screen and (min-width: 576px) {
  header hr {
    max-width: 530px !important;
  }
}

@media screen and (max-width: 303px) {
  header .left-border {
    display: none;
  }
  .side-nav {
    width: 250px;
  }
}
header .left-border {
  margin-left: 1rem;
  margin-right: 1rem;
}

.left-border {
  content: "";
  border: none;
  border-left: 2px solid #b7b7b7;
}

.letter-logo :first-child {
  letter-spacing: 1rem;
  font-weight: 500;
  font-size: 1.3rem;
}

.letter-logo :last-child {
  font-size: 0.8rem;
  font-weight: 500;
}

.pointer {
  cursor: pointer;
}

.side-nav {
  height: 100vh;
  width: 300px;
  background-color: white;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 11;
}

.side-nav ul {
  /* display: none; */
  padding: 25px;
  position: absolute;
  top: 100px;
  left: 0;
  width: 296px;
  overflow: hidden;
}

.side-nav ul li:first-child {
  border-top: 1px solid #cbcbcb;
}

.side-nav ul li {
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #cbcbcb;
  margin-left: -25px;
  margin-right: -28px;
}

.side-nav ul li a {
  display: block;
  padding: 24px;
}

.menu_toggle {
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.menu_toggle:focus {
  outline: none;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  background: transparent;
}

input {
  outline: 1px solid #212420;
  display: block;
  /* background-color: #efefef; */
  width: 100%;
  border: none;
  padding: 12px 0 12px 15px;
  border-radius: 0 !important;
  font-size: 0.9rem;
}

input.error {
  outline: 1px solid #d43742;
}

.error-message {
  color: #d43742;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  /* text-align: end; */
}

.btn {
  border-radius: 0;
}

.black-btn,
.black-btn:focus,
.black-btn:hover {
  background-color: #262626;
  color: #fff;
}
